@model FiveMotors.Models.Veiculo

@{
    ViewData["Title"] = "Delete";
    Layout = "/Views/Shared/_Layout_Adm.cshtml";
}

<h1 class="mb-4">Excluir Veículo</h1>

<h4>Tem certeza que deseja excluir este veículo?</h4>

<div class="mb-3">
    <dl class="row">
        <dt class="col-sm-2">Marca</dt>
        <dd class="col-sm-10">@Model.Marca</dd>

        <dt class="col-sm-2">Modelo</dt>
        <dd class="col-sm-10">@Model.Modelo</dd>

        <dt class="col-sm-2">Ano</dt>
        <dd class="col-sm-10">@Model.Ano</dd>

        <dt class="col-sm-2">Preço</dt>
        <dd class="col-sm-10">@Model.Preco</dd>

        <dt class="col-sm-2">Descrição</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>

        <dt class="col-sm-2">Estoque</dt>
        <dd class="col-sm-10">@Model.Estoque</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="VeiculosId" />
    <button type="submit" class="btn text-white" style="background-color: #25d366;">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>
